<!DOCTYPE html>

<html>
<head>
    <meta lang="en" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-1 mb-4">
            <span class="navbar-brand mx-5 ml-sm-2 mr-sm-5 h1" href="#">
                @*My Library*@
                <img src="../Images/Screenshot.png" width="30" height="30" alt="">
                My Library
            </span>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto h5">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Login")">Home<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@@</span>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1"/>
                    </div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:white;">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="container">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-12">First</div>
                <div class="col-md-6 col-lg-12">Second</div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
</html>
